page-details {
    .card {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
        box-shadow: none;
      }
      .item-small{
        padding-left: 10px;
        min-height: 40px;
        height: 40px;
      }

}
